body{ 
  color: rgb(16, 16, 16);
}
nav {
    background-color: #eac8c8;
    color: rgb(108, 69, 69);

    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h2 {
    margin: 0;
    font-size: 18px;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links span {
    cursor: pointer;
}
/*welcome page*/
.welcome {
    padding: 20px 20px 20px 20px;
}
/* dashboard page*/
main{
    padding: 10px 20px 20px;
}
/*sat-container*/
.sat-container{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.stat-card{
    padding: 20px;
    background-color: rgba(225, 233, 232, 0.803);
    border-radius: 8px;
    text-align: center ;
    border: 1px solid rgba(0, 0, 0, 0.803);
    align-items: center;
    justify-content: center;
}
/*task-card*/
.tasks-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.task-card{

   background-color: rgb(239, 233, 233);

    border: 1px solid #ccc;
    border-radius: 6px;

    padding: 18px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-card h3{
    margin: 0;
    font-size: 18px;
}
.task-card p{

    margin: 0;
}
